.resimSlider{
    height:695px;
}

body{
    padding-top:50px;
}

.hakkimda{
    background-color: #f2f2f2;  
}

.projelerim{
    background-color: lavender;
}

.iletisim{
    background-color: #f2f2f2;
}